p {
  background-color: transparent;
  border: 1px solid #d86bb7;
  color: #d9d9d9;
  padding: 0.5rem;
  resize: none;
  width: 100%;
  border-radius: 0.5em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h2 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  margin-top: 0.2rem;
  -webkit-text-stroke: 7px #0f0024;
  paint-order: stroke fill;
}
